.about-link {
    position: fixed;
    bottom: 0;
    right: 0;
z-index: 200;
    color: #fff;
    cursor: pointer;
  }
  
  .about-link a {
    color: #fff;
  }
  
  .about-link a:hover {
    color: #ff6a95;
  }
  
  .about h1 {
    margin-bottom: 20px;
  }
  
  .about p {
    margin: 10px 0;
  }
  