
.ratingItem {
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6a95;
    border-radius: 50%;
    position: absolute;
   top: -1rem;
   left: -1rem;
}
.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
   background-color: transparent;
   border: none;
   outline: none;
   cursor: pointer;

}
.text {
    padding: 1rem;
}
.feedbackItem {
animation : animateList 1s  ;
/* animation : animateClose 5s forwards; */
}
button.edit {
    display: flex;
    margin-left: auto;
    padding-right: 2rem;
    border: none;
    outline: none;
    background-color: transparent;
  cursor: pointer;
}
@keyframes animateList {
    0% {
        transform: translateY(-3rem);
        opacity : 0
    }
    100% {
        tranaform : translateY(0);
        opacity: 1;
    }
}
@keyframes animateClose {
    0% {
        transform: translateY(-3rem);
        opacity : 0
    }
    100% {
        tranaform : translateY(0);
        opacity: 1;
    }
}